


/**
 * General HTML
 */
body {
	background-color: #000000;
}

/**
 * video container
 */
.video-container video{
    background: #222;
    width:100%;
    background-size: cover;
    transition: 1s opacity;
    opacity: 0.5;
    position: absolute;
    top: 0;
    left: 0;
    
}
.video-container {
    min-height: 30px;
    padding-bottom: 50px;
    position: relative;
    overflow: hidden;
}


/**
 * Jumbotron / span
 */
.jumbotron .title{
    margin-top: 50px;
}

span.name{
    font-size: 50px;
    font-weight: bold;
}

span.summary{
    margin-top: 10px;
    font-size: 20px;
}

.jumbotron{
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 0px;
    padding-right: 0px;
    width: 100%;
}



/**
 * Mobile support
 */
@media (max-width: 480px){
    .video-container video{
        width: relative;
        height: 100%;
    }
    video::-webkit-media-controls {
        display:none !important;
    }
    span.name{
        font-size: 30px;
    }
    
    span.summary{
        font-size: 20px;
        margin-top: 5px;
    }
}