/*
 * main colorings
 */
@import url(//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css);

.jumbotron{
    background-color: black;
}
/*
   border for divs
 */

#personnel-section{
    border-top: 0px;
    border-bottom:0px;
    border-left: 0px;
    
    border-right:1px;
    border-style:solid;
}

#organization-edit{
    border: none;
    background-color: transparent;
    outline: none;
}
#organization-edit:hover{
    color: yellow;
}

select.form-control{
    color: white;
    background-color: #313131;
}

.modal-dialog.large{
    width: 60%;
}

#projectModal .form-group{
    margin-bottom: 1px;
}
