.modal-content{
	background: #313131;
	color: white;
}
.modal-body > h4{
	background: #313131;
	color: orange;
}
.close-button{
	background: #313131;
	color: orange;
	padding: 0;	
	border: none;
	/*background: none;	*/
}

.modal-title{
	color: orange;
}


.upload-table{
	max-height: 200px;	
}

#convert-option-parameters{
    margin-top: 15px;
    margin-bottom: 30px;
}
#convert-option-parameter-info{
    padding-bottom: 15px;
}
.option-parameter-value{
    border: none;
    align: right;
    background: #313131;
}