#myScheduler, 
.yui3-widget-bd,
.button,
.yui3-widget-bd scheduler-view-scrollable,
.scheduler-view-table-row-container,
.yui3-widget-hd,
.scheduler-view-table-container,
.scheduler-view-table-lasso,
.scheduler-view-table-grid-container scheduler-view-table-grid-first,
.yui3-widget-bd scheduler-view-noscroll,
.scheduler-view-agenda-header clearfix scheduler-view-agenda-header-first 
{
	background-color: black;
}

.hidden-xs scheduler-base-view scheduler-base-view-month btn-default btn 
{
	background-color: transparent;
}

input{
    color: black;
}
.modal-content{
	background: #313131;
	color: white;
}
.modal-body > h4{
	background: #313131;
	color: orange;
}
:not(.modal-footer) > .close-button{
	background: #313131;
	color: orange;
	padding: 0;	
	border: none;
	background: none;	
}

.modal-title{
	color: orange;
}

#inputrow{
    height: 30px;
}

#table-dropdown{
    background: transparent;
    color: orange;
    height: 30px;
    font-size: 16px;
    border: none;
}
#foreignTableDropDown{
    background: transparent;
    color: white;
    border: none;
    padding: none;
    width: 100%;
}
#tableRowList{
    background: transparent;
    width: 100%;
    color: orange;
    height: 30px;
    font-size: 16px;
    border: none;
}
input{
   /* background: transparent;
    color: white;
    border: none;
    width: 100%;*/
}
.submit-button{
    background-color: #6699FF;
}