<!DOCTYPE html>
<html lang="en">
  <head>

    <script>
      function clicked()
      {
      document.location.href = "/login";
      }
    </script>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">



    <title>login</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/static/css/login.css" rel="stylesheet">
	
  </head>
  
  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-login" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <div class="navbar-brand">Flying SuperIntendents</div>
        </div>
      
        <div id="navbar-login" class="navbar-collapse collapse">
          <form class="navbar-form navbar-right" action="/login" method="POST">
            <div class="form-group">
              <input type="text" placeholder="Email" class="form-control" name="inputEmail" required>
            </div>
            <div class="form-group">
              <input type="password" placeholder="Password" class="form-control" name="inputPassword" required>
            </div>
            <button type="submit" class="btn btn-success">Sign in</button>
          </form>
        </div>
        <!--/.navbar-collapse -->
      </div>
    </nav>

    <div class="main">
      <div class="jumbotron">
        <section class="container-fluid video-container">
          <video id="videoId" autoplay loop preload="automatic" class="embed-responsive-item"  poster="/static/img/default.jpg">
		      <source src=/static/img/login.mp4 type="video/mp4">
	      </video>
          <div class="container title">
            <div class="col-md-6">
              <span class="name">Flying Superintendents</span>
              <span class="summary">Quadrotor Construction Helper System</span>
            </div>
            <div class="col-md-6">
              <span></span>
            </div>
          </div>
        </section>
        <section class="container">
          <div class="col-md-6">
          </div>
          <div id="signup-form" class="col-md-6">
            <h3 class="col-md-12">Sign up now !</h3>
            <form action="/create-user" method="POST">
              <div class="form-group col-md-12">
                <input id="signup-email" type="text" placeholder="Email" class="form-control" name="newEmail" required>
              </div>
              <div class="form-group col-md-6">
                <input id="default-password" type="password" placeholder="Password" class="form-control" name="newPassword" required>
              </div>
              <div class="form-group col-md-6">
                <input id="confirm-password" type="password" placeholder="Confirm Password" class="form-control" required>
              </div>
              <div class="col-md-9 col-sm-9 col-xs-7" align="left">
                <span id="signup-console"></span>
              </div>
              <div class="col-md-3 col-sm-3  col-xs-5" align="right">
                <button id="signup-button" type="submit" class="btn btn-success">Sign Up</button>
              </div>
              
            </form>
          </div>
        </section>
      </div>
    </div>
    <div class="container">
      <footer> Flying superintendents .CO</footer>
    </div>
    
    
	<script src="/static/js/jquery.js"></script>
    <script src="static/js/bootstrap.min.js"><script>
	<script src="/static/js/modal.js"></script>
	<script src="/static/js/login.js"></script>
    <script language="javascript" type="text/javascript" ></script>
  </body>
	
</html>
